# Binaries and build artifacts
/bin/
/pkg/
*.exe
*.dll
*.so
*.a

# Dependencies
vendor/

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
*.env
app.env

# Logs and temporary files
*.log
*.tmp
temp/

# OS-specific files
.DS_Store
Thumbs.db

# Test files
*.test
*.out

# Go-specific files
go.sum
!go.mod